<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nomSite}}</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="/style/output.css" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/js/connexionSocket.js"></script>

    {{!-- <script defer src="/js/socket-client.js"></script>
    <script defer src="/js/spinner.js"></script> --}}
    {{#if navbarVendor}}
        <script defer src="/js/sidebarVendor.js"></script>
        <link rel="stylesheet" href="/style/sidebarVendor.css">
    {{/if}}
</head>
<body>
    {{#if navbarVendor}}
        {{>navbarVendor}}
             <!-- Header (same as orders page) -->
            <div id="overlay" class="overlay"></div>
        <div class="container mx-auto mt-6 flex">
        <!-- Sidebar (same as orders page) -->
        {{>sidebarVendor}}

    {{/if}}
    {{#if sidebarVendorOnly}}
             <!-- Header (same as orders page) -->
            <div id="overlay" class="overlay"></div>
        <div class="container mx-auto mt-6 flex">
        <!-- Sidebar (same as orders page) -->
        {{>sidebarVendor}}

    {{/if}}

    {{{body}}}
</body>
</html>